@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

body{
  font-family:lato;
  background: #f1f2f6;
}

*{
  box-sizing:border-box;
}
.container{
  margin-top: 25px;
  text-align: center;
}
.search{
  text-align: center;
  background-image: linear-gradient(#3ba8b6, #047891);
  margin: 0px auto 25px auto;
  width:250px;
  height: 50px;
  border-radius: 25px;
}

.search a{
  color: grey;
  font-size: 20px;
}
input{
padding:5px;
margin-top:8px;
border:none;
border-radius: 25px;
outline: none;
width: 240px;
}
.weather-card{
   background-image: linear-gradient(#3ba8b6, #047891,#57c3c4);
 text-align: center;
 border-radius: 25px;
 width:400px;
 margin:auto;
}
ul {
  list-style: none;
  font-size: 15px;
  color:white;
  font-weight: 700;
}

#city-name{
  margin-top:10px;
  font-size: 25px;
  line-height:22px;
  margin-left: 5px;
}
#date{
  margin-left:5px;
}
#wind{
  margin-left: 5px;
}
#temp{
  margin-left:-20px;
  font-size:70px;

}
#max-temp{
  margin-right: 5px;
  display: inline-block;
  margin top:50px;
}
#min-temp{
  display: inline-block;
}
#max-temp::before{
  font-family: "FontAwesome";
content: " \f176 ";
 font-size: 15px;
 padding:5px;

}
#min-temp::before{
   font-family: "FontAwesome";
content: " \f175 ";
 font-size: 15px;
 padding:5px;
}
@media (max-width:600px) {
   .weather-card{
    width:100%;
  }
}
